<div>
  <%= notice %>
</div>
<div class='categories-container' >
  <% @categories.each do |cat| %>
    <div class='header'>
      <%= cat.name %>
    </div>
    <div>
      <%= cat.articles.each do |article| %>
        <div class='field'>
          <%= article.name %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class='new-category-container'>
  <%= form_for @category, :url => create_category_path do |f| %>
    <div class="header">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <%= @articles.each do |article| %>
      <div class="field">
        <%= f.label :article %>
        <%= f.checkbox article.id, article.name %>
      </div>
    <% end %>
    <div class="field">
      <%= f.submit  %>
    </div>
  <% end %>
</div>
