<div id='header'>
  <div class='home-link'>
    <%= link_to root_path  do %>
      <i class="logo fa fa-cubes fa-3x"></i>
    <% end %>
  </div>
  <div class='header-links'>
    <div class="link-container">
      <%= link_to "Home", root_path %>
    </div>
    <div class='link-container'>
      <%= link_to "About", about_path %>
    </div>
    <div class='link-container'>
      <%= link_to "Portfolio", portfolio_path %>
    </div>
    <div class='link-container'>
      <%= link_to "Contact Me", contact_me_path %>
    </div>
  </div>
  <div class='mobile-links'>
    <%= link_to about_path  do %>
      <i class="fa fa-user fa-3x"></i>
    <% end %>
    <%= link_to  portfolio_path  do %>
      <i class="fa fa-book fa-3x"></i>
    <% end %>
    <%= link_to contact_me_path  do %>
      <i class="fa fa-envelope fa-3x"></i>
    <% end %>
  </div>
</div>
