<div id='header'>
  <%= link_to client_home_path  do %>
    <i class="logo fa fa-cubes fa-3x"></i>
  <% end %>
  <div class='header-links'>
    <div class="link-container">
      <%= link_to "Home", root_path %>
    </div>
    <div class='link-container'>
      <%= link_to "About", client_about_path %>
    </div>
    <div class='link-container'>
      <%= link_to "Portfolio", client_portfolio_path %>
    </div>
    <div class='link-container'>
      <%= link_to "Contact Me", client_contact_me_path %>
    </div>
  </div>
</div>
