<div class='portfolio-page'>
  <%= render 'header' %>
  <div id='order-sample'>
    <h1 class='sub-header'>Here's my Portfolio Beiiiiiitch!!!s</h1>
    <div class='container'>
      <div class='categories'>
        <% @categories.each do |cat| %>
          <div class='category-container'>
            <%= link_to category_path(cat), :class => "wrapper" do %>
                <div class="text">
                  <div class="bubble">
                    <%= cat.description %>
                  </div>
                </div>
              <%= image_tag cat.image %>
              </a>
              <h2><%= cat.name %></h2>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class='sample-description'>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non ipsum eu lacus dignissim aliquam vel non nunc. Fusce vitae tellus ante. Nam nunc ligula, fringilla sed interdum sed, consectetur in mi. Proin sem velit, mollis eget maximus vel, molestie vitae magna. Sed laoreet maximus augue quis consectetur. Ut et egestas magna. Donec ipsum odio, convallis sed faucibus at, sagittis et sapien. Suspendisse faucibus magna ex. Vestibulum commodo, turpis id dictum euismod, nunc neque molestie enim, a semper nunc lacus et lorem. Phasellus sit amet nisi vitae est consectetur rutrum a at sem. Nullam porta massa quis leo feugiat laoreet. Nulla a enim ac ligula ullamcorper condimentum. Donec porttitor in erat ut hendrerit. Morbi cursus metus at felis blandit, a condimentum metus rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <%= render 'social_media'%>
</div>
