<div class='articles-page'>
  <%= render 'client/header' %>


  <div class="articles-container">
    <% @articles.each do |article|%>
      <div class="article" onClick="toggleArticle('<%= article.name %>')">
        <span class="article-name"><%=article.name %></span>
        <span class="article-collapse" id="<%= article.name %>-collapse">
          <span class="arrowUp fa fa-chevron-up fa-lg" style="display:none"></span>
          <span class="arrowDown fa fa-chevron-down fa-lg"></span>
        </span>
      </div>
      <div class="article-contents" id="<%= article.name %>-contents">
        <div class='article-info'>
          <div><%= article.descriptions %></div>
          <div><%= article.published_link %></div>
        </div>
        <div class='article-image'><%= image_tag article.attachment.url %></div>
      </div>
    <% end %>
   </div>
 </div>
