<div class='articles-page'>
<div class='category-name'>
  <h1><%= @category.name %> Articles </h1>
</div>
  <div class="articles-container">
    <% @articles.each_with_index do |article, i| %>
      <% if i==0 %>
      <div class="article-title" onClick="toggleArticle('<%= article.id %>')">
        <span class="article-name"><%=article.name %></span>
        <span class="article-collapse" id="<%= article.id %>-collapse">
          <i class="arrowUp fa fa-chevron-up"></i>
          <i class="arrowDown fa fa-chevron-down" style="display:none"></i>
        </span>
      </div>
      <div class="article-contents" id="<%= article.id %>-contents">
        <div class='article-info'>
          <span class='article-detail'>
            <h2>Description:</h2><div><%= article.descriptions %></div>
          </span>
          <span class='article-detail'>
            <h2>Published Link:</h2><div><a href="<%= article.published_link %>"><%= article.name %></a></div>
          </span>
        </div>
        <div class='article-image'><%= image_tag article.attachment.url %></div>
      </div>
      <% else %>
      <div class="article-title" onClick="toggleArticle('<%= article.id %>')">
        <span class="article-name"><%=article.name %></span>
        <span class="article-collapse" id="<%= article.id %>-collapse">
          <i class="arrowUp fa fa-chevron-up" style="display:none"></i>
          <i class="arrowDown fa fa-chevron-down"></i>
        </span>
      </div>
      <div class="article-contents" id="<%= article.id %>-contents" style='display:none;'>
        <div class='article-info'>
          <span class='article-detail'>
            <h2>Description:</h2><div><%= article.descriptions %></div>
          </span>
          <span class='article-detail'>
            <h2>Published Link:</h2><div><a href="<%= article.published_link %>"><%= article.name %></a></div>
          </span>
        </div>
        <div class='article-image'><%= image_tag article.attachment.url %></div>
      </div>
      <% end %>

    <% end %>
   </div>
 </div>
